<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
<h1 class="para_style1">Passport Authentication</h1>
<p class="para_style1">Welcome to Travelview Scape.</p>
<p class="para_style1">Create a new account or login!</p>

<div class ="jumbotron">
  <img src="/img/travelview1.png" class="logo" alt="logo">

  <button type="button" class="btn btn-success btn-lg btn-block"> Create a new account
  </button>
  <button type="button" class="btn btn-primary btn-lg btn-block">Log in to your account
  </button>

</div>
</div>
