<h1>Dashboard Page</h1>
<div class="container">

<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

  <p class="para_style1">Welcome <%= user.firstName %> <%= user.lastName %></p>
  <p class="para_style1">You are now logged into your account</p>
  <p class="para_style1">Click here to logout.</p>

  <a href="/logout" class="btn btn-primary btn-lg btn-block">Logout</a>

    </div>
  </div>
