
<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
<p class="para_style1">Welcome to Travelview Scape.</p>
<p class="para_style1">Create a new account or login!</p>

<div class ="jumbotron">
  <img src="/img/travelScape.png" class="logo" alt="logo">

  <a href="/register" class="btn btn-success btn-lg btn-block">Create a new account</a>
  <a href="/login" class="btn btn-primary btn-lg btn-block">Log in to your account</a>


</div>
</div>
