<div class="container">
  <h1>Register Page</h1>

  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

    <h1 class="title1_style">Create Your Account</h1>
    <div id="error"></div>

    <form role="form" method="post" action="/register" class="form-style">

      <div class="form-group">
        <label for="inputdefault">First Name</label>
        <input id="inputdefault" type="text" name="firstName" required="required" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="inputdefault">Last Name</label>
        <input id="inputdefault" type="text" name="lastName" required="required" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="inputdefault">Email</label>
        <input id="inputdefault" type="email" name="email" required="required" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="inputdefault">Password</label>
        <input id="inputdefault" type="password" name="password" required="required" class="form-control"/>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Sign up</button>
      </div>
    </form>
  </div>
</div>
