<div class="container">
<div class="row">


<script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
<script>
    $places = <%-JSON.stringify(places)%>;
            $articles = <%-JSON.stringify(articles)%>;
            $.each($places, function (i, item) {
                document.write("<div class='text-center'><h2>" + item.address + "</h2></div>");
                $articleloop = $($articles).filter(function (i, n) {
                    return n.place === item._id
                });
                $.each($articleloop, function (i, item) {
                    document.write("<h4>" + item.title + "</h4>" + "<br />");
                    document.write("<img src=" + item.imageUrl + " width=\"250\" /><br />");
                    document.write("<h3>" + "<p style='margin-left: 300px; margin-top: -70px; padding-bottom: 30px;'>" + item.descriptions + "</p>" + "</h3>" + "</br>");
                    document.write("<hr />");
                });
            });
</script>
</div>
</div>
